body {
    margin: 0px;
    padding: 0px;
}

header {
    margin: 0px;
    background-color: green;
    height: 11em;
}

.banner {
    display: block;
    margin-left: 15em;
    height: 10em;
    padding-top: 1em;
}

.def {
    display: block;
    margin-top: 3em;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}

.treeNav {
    margin-top: 8em;
    height: 800px;
    width: auto;
    margin-bottom: 2em;
}

.treeImage {
    position: relative;
    margin-left: auto;
    margin-right: auto;
    padding-top: 2em;
    height: 800px;
    width: 50%;
}

.bg{
    background-image: url(./Images/ground2.jpg);
    background-position: 50% 63%;
}

.treeContainer {
    display: block;
    margin-top: 15em;
    margin-left: auto;
    margin-right: auto;
    height: 50%;
    width: 50%;
}

.tree {
    display: block;
    margin-left: auto;
    margin-right: auto;
    height: auto;
    width: 100%;
}

.topLeft {
    position: absolute;
    top: 10em;
    left: 150px;
}

.topCenter {
    position: absolute;
    margin-left: 45%;
    top: 3em;
}

.topRight {
    position: absolute;
    top: 10em;
    right: 150px;
}

.middleLeft {
    position: absolute;
    top: 22em;
    left: 16px;
}

.middleRight {
    position: absolute;
    top: 22em;
    right: 16px;
}

.bottomLeft {
    position: absolute;
    top: 36em;
    left: 50px;
}

.bottomRight {
    position: absolute;
    top: 36em;
    right: 50px;
}

footer{
    margin: 0px;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: green;
    text-align: center;
    padding-top: 2em;
    padding-bottom: 2em;
}

a:hover {
    background-color: green;
}